body{
    margin: 150px;
    background-color: light-dark(black,white);
}
h2{
    text-align: center;
    background-color: powderblue;
    width: 500px;
    font-style: italic;
    font-weight: bold;
    margin: auto;
    border: 2px solid lightsteelblue;
}
.addForm{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 350px;
    margin: 50px auto 100px auto;
}
.button button{
    background-color: rgb(17, 94, 238);
    color: white;
    font-weight: bolder;
    margin-top: 10px;
}
button:hover{
    background-color: white;
    color: rgb(17, 94, 238);
}
.button{
    display: flex;
    gap: 30px;
}
.row{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: white;
}
.row label{
    width: 100px;
}
.row input{
    flex: 1;
}