body{
    background-color: #8395a7;
}
.navbar {
    display: flex;
    justify-content: flex-end; 
    padding: 15px 30px;
    background-color: #1e3799;

    border-bottom: 2px solid rgba(255,255,255,0.1); 
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: sans-serif;
    padding: 8px 16px;
    border: 1px solid rgba(255,255,255,0.3); 
    border-radius: 20px;

}
.navbar a:hover {
    background-color: white;
    color: #1e3799; 
}

.options a{
    text-decoration: none;
    color: black;
    font-size: larger;
}

.page-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;      
  background-color: #b0e0e6; 
}


.glass-box {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;            
}

.btn {
  background-color: #0abde3;
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: sans-serif;
  transition-duration: 0.03s;

}

.btn:hover {
  background-color: #0056b3;
}


h2{
    font-weight: bolder;
    font-style: italic;
    color: black;
}
.options{
    background-color: steelblue;
    font-style: italic;
    width: 350px;
    padding: 20px;
    margin: 30px auto;
    border: solid royalblue 5px;
    border-radius:10px ;
    margin-top: 40px;
}
ol li {
    margin-bottom: 15px;
    background-color:cornflowerblue;
    border: 1px solid deepskyblue;
    line-height: 1.4;
    width: fit-content;
    padding: 5px;
    border: solid blue 2px;
}
ol{
    list-style-position: inside;
}
li::marker{
    font-weight: bolder;
}