/*body{*/
/*    background-color: white;*/
/*}*/
/*.dark-mode{*/
/*    background-color: black;*/
/*}*/
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-align: center;
    margin-top: 40px;
}
span{
    background-color: lightblue;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: solid steelblue 5px;
}
.mode {
    float: right;
    margin: 10px;
    background-color: floralwhite;
    border-radius: 100px;
}
.user