<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense tracker</title>
    <link rel="stylesheet" href="{{url_for('static',filename='home_style.css')}}">
<!--        <link rel="stylesheet" href="../static/home_style.css">-->
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="#">Dashboard</a>
        <a href="#">Login</a>
    </nav>

<div class="options">
    <h2>OPTIONS</h2>
        <ol>
            <li><a href="/add">Add Expenses</a></li>
            <li><a href="/view">View Expenses</a></li>
{#            <li><a href="#">Monthly-wise total expenses</a></li>#}
            <li><a href="#">category-wise total expenses</a></li>
{#            <li><a href="#">Total expense</a></li>#}
            <li><a href="#">View highest expense</a></li>
            <li><a href="#">View minimum expense</a></li>
            <li><a href="#">Edit expense</a></li>
            <li><a href="#">Delete expense</a></li>
        </ol>
</div>
</body>
</html>