<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense tracker</title>
    <link rel="stylesheet" href="{{url_for('static',filename='home_style.css')}}">
    <link rel="stylesheet" href="../static/home_style.css">
</head>
<body>
{{ result }}
    <nav class="navbar">
    <a href="/profile" class="profile-link">Profile</a>
</nav>

<div class="page-container">
  <div class="glass-box">
    <h3>Expense Manager</h3>
    <button class="btn" onclick="window.location.href='/add'">Add Expenses</button>
    <button class="btn" onclick="window.location.href='/view'">View Expenses</button>
    <button class="btn">Monthly-wise total expenses</button>
    <button class="btn">category-wise total expenses</button>
    <button class="btn">Total expense</button>
    <button class="btn">View highest expense</button>
    <button class="btn">View minimum expense</button>
    <button class="btn">Edit expense</button>
    <button class="btn">Delete expense</button>
  </div>
</div>
</body>
</html>