<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SET</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_page.css') }}">
</head>
<body>
<h1><span>Smart Expense Tracker</span></h1>
{#<button onclick="mode()" class="mode">light</button>#}
<form class="user">
    <label for="sign in">Sign in:</label>
    <input type="email" placeholder="123@gmail.com" name="sign in">
    <label for="password">Password:</label>
    <input type="password" placeholder="Enter your password" name="password">
    <button type="submit">Sign in</button>
</form>
</body>
</html>