<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View expense</title>
    <link rel="stylesheet" href="{{url_for('static',filename='view_expense.css')}}">
<!--    <link rel="stylesheet" href="../static/view_expense.css">-->
</head>
<body>
    <h2>View Expense</h2>
    <form method = "POST">
        <select name="View expense" id="view expense">
            <option selected disabled>Select an Option</option>
            <option value="View All">View All Expense</option>
            <option value="View Date">View by Date</option>
            <option value="View Time">View by Time</option>
            <option value="View Date and Time">View by Date and Time</option>
            <option value="View Date and category">View by Date and category</option>
        </select>
        <button type="reset">Reset</button>
        <button onclick="window.location.href='{{ url_for('home') }}'" type="button">Go Back</button>
        <button type="submit">Submit</button>
    </form>
<br>
{% if expense %}
<table border="1" class="expense-table">
    <tr>
        <th>DATE</th>
        <th>TIME</th>
        <th>CATEGORY</th>
        <th>EXPENSE</th>
        <th>ACTION</th>
    </tr>
    {% for record in expense %}
    <tr>
        <td>{{ record.date }}</td>
        <td>{{ record.time }}</td>
        <td>{{ record.category }}</td>
        <td>{{ record.expense }}</td>
        <td>
            <a href="/update/{{ record.id }}">
                <button>Edit</button>
            </a>
            <a href="/delete/{{ record.id }}">
                <button>Delete</button>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endif %}
</table>
</body>
</html>